# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Insomniac\Desktop\Code\L3\Langage et automate\SAUVETRE_COUEDEL_584J_Projet_Automate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
